journeymap/
dumps/
crash-reports/
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
.mixin.out/
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
minecraftinstance.json
knownkeys.txt
servers.dat
realms_persistence.json
options.txt
zs_export.json
logs/
local/
libraries/
saves/
TombManyGraves/
screenshots/
mputils/settings.dat
mods/
.github_changelog_generator
GithubChangelogGenerator.bat
config/jei/worldSettings.cfg

