# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        99
        104
        105
        115
        101
        108
        37
        51
        65
        112
        108
        97
        110
        107
        115
        45
        100
        97
        114
        107
        45
        111
        97
        107
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        55
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        85
        120
        -38
        99
        98
        18
        -53
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -49
        -55
        47
        47
        46
        -55
        -49
        75
        -75
        103
        80
        73
        -50
        -56
        44
        78
        -51
        1
        10
        22
        -28
        36
        -26
        101
        23
        -21
        -90
        36
        22
        101
        -21
        -26
        39
        102
        -37
        -105
        37
        22
        101
        38
        -106
        100
        -26
        -25
        -39
        -102
        51
        48
        52
        -80
        -4
        31
        36
        -32
        3
        63
        42
        28
        105
        -14
        3
        5
        0
        99
        -82
        -44
        -42
        3
        0
        2
        108
        118
        0
        0
        0
        15
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        99
        104
        105
        115
        101
        108
        37
        51
        65
        112
        108
        97
        110
        107
        115
        45
        100
        97
        114
        107
        45
        111
        97
        107
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        56
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        1
        7
        0
        1
        88
        0
        0
        0
        50
        120
        -38
        99
        98
        84
        73
        -50
        -56
        44
        78
        -51
        81
        53
        118
        44
        -56
        73
        -52
        -53
        46
        -42
        77
        73
        44
        -54
        -42
        -51
        79
        -52
        -74
        47
        75
        44
        -54
        76
        44
        -55
        -52
        -49
        -77
        -75
        96
        96
        96
        0
        0
        36
        81
        13
        122
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        36
        99
        104
        105
        115
        101
        108
        37
        51
        65
        112
        108
        97
        110
        107
        115
        45
        100
        97
        114
        107
        45
        111
        97
        107
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        56
        3
        0
        1
        115
        0
        0
        0
        2
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        82
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        73
        -50
        -56
        44
        78
        -51
        1
        114
        11
        114
        18
        -13
        -78
        -117
        117
        83
        18
        -117
        -78
        117
        -13
        19
        -77
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        45
        24
        36
        94
        48
        -1
        -1
        -49
        -64
        -16
        -1
        63
        -120
        -60
        14
        70
        -27
        -121
        -121
        60
        0
        105
        83
        115
        -5
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


