# Configuration file

general {
    # Block registry names for fluids that should be made finite
    S:finiteFluids <
        water
     >

    # Biomes in which these fluids should be infinite
    S:infiniteBiomes <
        minecraft:ocean
        minecraft:deep_ocean
        minecraft:beach
        minecraft:stone_beach
        minecraft:cold_beach
        minecraft:beaches
        minecraft:river
		minecraft:swampland
		minecraft:frozen_ocean
		minecraft:frozen_river
		minecraft:ice_flats
		minecraft:ice_mountains
		minecraft:mushroom_island_shore
		traverse:green_swamp
		traverse:glacier
		traverse:glacier_spikes
		ariente:ariente_ocean
		minecraft:mutated_swampland
     >

    # Dimensions in which these fluids should be infinite
    I:infiniteDimensions <
        2
     >

    # Minimum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:maxHeight=255

    # Maximum y-level in which fluids can form new source blocks.
    # Min: 0
    # Max: 255
    I:minHeight=0
}


