# Configuration file

"aesthetic settings" {
    # Change the birch colour based on the current season [default: true]
    B:"Change Birch Colour Seasonally"=true

    # Change the foliage colour based on the current season [default: true]
    B:"Change Foliage Colour Seasonally"=true

    # Change the grass colour based on the current season [default: true]
    B:"Change Grass Colour Seasonally"=true
}


"time settings" {
    # The duration of a Minecraft day in ticks [range: 20 ~ 2147483647, default: 24000]
    I:"Day Duration"=24000

    # The duration of a sub season in days [range: 1 ~ 2147483647, default: 7]
    I:"Sub Season Duration"=7
}


